
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>David Ruttka</title>
  <meta name="author" content="David Ruttka">

  
  <meta name="description" content="The following is a combination horror story and true crime documentary of developers tricking themselves into seeing things that aren&rsquo;t there, &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://www.davidruttka.com/">
  <link href="/favicon.png?v=2" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="David Ruttka" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-49510588-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">David Ruttka</a></h1>
  
    <h2>I make computers do things</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="https://www.google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:www.davidruttka.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/blog/archives">Archives</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/speaking">Speaking</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="/blog/2014/04/09/principles-of-debugging-a-postmortem/">Principles of Debugging: A Postmortem</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-09T10:00:19-07:00" pubdate data-updated="true">Apr 9<span>th</span>, 2014</time>
        
         | <a href="/blog/2014/04/09/principles-of-debugging-a-postmortem/#disqus_thread"
			 data-disqus-identifier="http://www.davidruttka.com/blog/2014/04/09/principles-of-debugging-a-postmortem/">Comments</a>
        
        
      </p>
    
  </header>


  <div class="entry-content"><p>The following is a combination horror story and true crime documentary of developers tricking themselves into seeing things that aren&rsquo;t there, not seeing things right in front of their faces, and breaking various rules of debugging. The faint of heart should close the browser tab now.</p>

<blockquote><blockquote><blockquote><p>No, it&rsquo;s not a Heisenbug. Heisenbugs don&rsquo;t repro the same when you&rsquo;re looking into them. This is&hellip;something else. &ndash; Actual quote</p></blockquote></blockquote></blockquote>

<h2>Wont-Fix</h2>

<p>There&rsquo;s one part of this story that I will not address. We have to use 64-bit integers (C# long) for the ids of one of our resources due to downstream / legacy dependencies. They end up being incredibly large, non-sequential values. That&rsquo;s not the point here, just some context.</p>

<h2>A Problem Is Reported</h2>

<p><em>INT. A developer&rsquo;s desk, early morning, before coffee, bright blue sunny day.</em></p>

<p>An email is received reporting an issue where the ids of certain resources are intermittently being returned as two less than the true value. Or one less. Or one or two above. Always &ldquo;close&rdquo;, but often incorrect.</p>

<p>There is a Fiddler .saz to prove it, and screenshots of that same Fiddler .saz.</p>

<p>A fearless developer figures this must be something pretty silly, opens up the issue in the issue tracking system, and decides to take it on. There will be much weeping.</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2014/04/09/principles-of-debugging-a-postmortem/">Read on &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="/blog/2014/04/08/fixing-the-external-url-linklog-feature-in-octopress/">Fixing the External-url (Linklog) Feature in Octopress</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-08T20:41:44-07:00" pubdate data-updated="true">Apr 8<span>th</span>, 2014</time>
        
         | <a href="/blog/2014/04/08/fixing-the-external-url-linklog-feature-in-octopress/#disqus_thread"
			 data-disqus-identifier="http://www.davidruttka.com/blog/2014/04/08/fixing-the-external-url-linklog-feature-in-octopress/">Comments</a>
        
        
      </p>
    
  </header>


  <div class="entry-content"><h2>The Linklog Feature</h2>

<p>Another quick edit that I made to in the theme was to handle the <code>external-url</code> for linklog posts, as described in the <a href="http://octopress.org/docs/blogging/linklog/">Octopress docs</a>.</p>

<p>I found that this feature wasn&rsquo;t working for me. I couldn&rsquo;t find anyplace that attempted to use <code>external-url</code>, so I just kind of decided on a place that works for me and put it there.</p>

<h2>Show Me The Code</h2>

<p>You can check out the <a href="https://github.com/imathis/octopress/pull/1538">pull request</a> or the <a href="https://github.com/druttka/octopress/commit/4d0f3a051c5c6e365a737c977c843a444cb59023">commit</a> it contains. I cleaned up the unintentional whitespace changes in the follow-up commit.</p>

<p>Basically, I just added a capture for <code>entryhref</code>, using the <code>external_url</code> if present. Later, after the line that handles adding the Comments link as appropriate, I added a line that adds the Permalink as appropriate.</p>

<p>I&rsquo;m still finding my way around Octopress and am definitely open to thoughts if I&rsquo;m going about this stuff the wrong way. Let me know.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="/blog/2014/04/06/updating-octopress-to-override-the-canonical-rel-link/">Updating Octopress to Override the Canonical Rel Link</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-06T15:53:10-07:00" pubdate data-updated="true">Apr 6<span>th</span>, 2014</time>
        
         | <a href="/blog/2014/04/06/updating-octopress-to-override-the-canonical-rel-link/#disqus_thread"
			 data-disqus-identifier="http://www.davidruttka.com/blog/2014/04/06/updating-octopress-to-override-the-canonical-rel-link/">Comments</a>
        
        
      </p>
    
  </header>


  <div class="entry-content"><p>As I&rsquo;ve continued iterating on the PowerShell script that I&rsquo;m using to migrate my old WordPress posts, I decided to point the <a href="https://support.google.com/webmasters/answer/139066?hl=en">canonical link</a> to the old location. I might choose not to do this once I have a full migration story (redirection of the old permalinks, etc.), but as long as the original location is still up I figure those posts should keep any link juice they have.</p>

<p>So, I can now do this in the yaml on top of a post</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='yaml'><span class='line'><span class="l-Scalar-Plain">canonical</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">http://thedevstop.wordpress.com/whatever</span>
</span></code></pre></td></tr></table></div></figure>


<p>And the generated post will come out with that in the canonical link, instead of the url for the www.davidruttka.com clone.</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;canonical&quot;</span> <span class="na">href=</span><span class="s">&quot;http://thedevstop.wordpress.com/whatever&quot;</span> <span class="nt">/&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>All it took was a quick edit to the existing <code>capture</code> in the <code>head.html</code> include. The change is the <code>if page.canonical</code> block, and the full line ends up looking like this:</p>

<div><script src='https://gist.github.com/10012638.js'></script>
<noscript><pre><code>{% capture canonical %}{% if page.canonical %}{{ page.canonical }}{% else %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endif %}{% endcapture %}</code></pre></noscript></div>


<p>I&rsquo;ve opened an <a href="https://github.com/imathis/octopress/issues/1536">issue</a> to discuss whether this is something anyone else would ever use. If it is, it should be a simple enough thing to incorporate. I&rsquo;ve also sent a <a href="https://github.com/imathis/octopress/pull/1537">pull request</a> for the issue, but derped something up and they didn&rsquo;t get associated.</p>

<p>Later tonight, or tomorrow, I&rsquo;ll also share what I did to fix the linklog, <code>external_url</code> feature for my instance.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="/blog/2014/04/04/exposing-additional-headers-in-cors-responses-using-the-enablecorsattribute/">Exposing Additional Headers in CORS Responses Using the EnableCorsAttribute</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-04T08:36:53-07:00" pubdate data-updated="true">Apr 4<span>th</span>, 2014</time>
        
         | <a href="/blog/2014/04/04/exposing-additional-headers-in-cors-responses-using-the-enablecorsattribute/#disqus_thread"
			 data-disqus-identifier="http://www.davidruttka.com/blog/2014/04/04/exposing-additional-headers-in-cors-responses-using-the-enablecorsattribute/">Comments</a>
        
        
      </p>
    
  </header>


  <div class="entry-content"><p>File under &ldquo;Learn something new every day.&rdquo;</p>

<p>Long story short, we have enabled CORS in our API, but today I learned that <a href="http://www.aaron-powell.com/posts/2013-11-28-accessing-location-header-in-cors-response.html">not all headers are included</a>.</p>

<p>Particularly, like Aaron, we needed to ensure that the Location header came back when a POST request created a new resource. Our solution is a bit different than his. We&rsquo;re already using the <a href="http://msdn.microsoft.com/en-us/library/system.web.http.cors.enablecorsattribute(v=vs.118%29.aspx">EnableCorsAttribute</a>, so Rob pointed out that we can just do this:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>EnableCorsAttribute("*", "*", "*", "location");</span></code></pre></td></tr></table></div></figure>


<p>Like the other constructor arguments, that last can be a comma separated list. Looks legit!</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="/blog/2014/04/01/octopress-rake-tasks-for-scheduling-posts-and-pulling-source/">Octopress Rake Tasks for Scheduling Posts and Pulling Source</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-01T19:13:02-07:00" pubdate data-updated="true">Apr 1<span>st</span>, 2014</time>
        
         | <a href="/blog/2014/04/01/octopress-rake-tasks-for-scheduling-posts-and-pulling-source/#disqus_thread"
			 data-disqus-identifier="http://www.davidruttka.com/blog/2014/04/01/octopress-rake-tasks-for-scheduling-posts-and-pulling-source/">Comments</a>
        
        
      </p>
    
  </header>


  <div class="entry-content"><p>Earlier today I posted a link about how to <a href="http://colca7.com/blog/2014/01/27/octopress-sync-octopress-on-different-machines/">sync Octopress across multiple machines</a>. That was very helpful because when I took the trivial approach and just went through the set up a second time, I quickly arrived in Merge Conflict, USA and it was decidely <strong>not</strong> groovy.</p>

<p>When I got back to the first machine, I decided to automate a few things&hellip;</p>

<h2>Source vs. Master</h2>

<p>If you&rsquo;ve paid attention to what&rsquo;s going on with Octopress, you know that what gets deployed to GitHub Pages is the <strong>master</strong> branch of your <strong>_deploy</strong> directory. The raw, ungenerated material (markdown, themes, layouts, etc.) stick around in the <strong>source</strong> branch which you can push, well, wherever. I push mine to a private repo.</p>

<p>If I&rsquo;m going to be working on posts from multiple machines, I find myself doing a lot of this&hellip;</p>

<pre><code>git pull private source
cd _deploy
git pull origin master  
cd ..
</code></pre>

<p><strong>I would rather just do this</strong></p>

<pre><code>rake pull
</code></pre>

<p>Spoiler alert: Now I can =) I created an <a href="https://gist.github.com/druttka/9926932">Octopress rake gist</a> if you want to add this to your own Rakefile.</p>

<h2>Drafts and Scheduling</h2>

<p>Two of the things I missed from WordPress</p>

<ul>
<li>working on drafts</li>
<li>marking posts as &ldquo;done&rdquo;, but for a future date</li>
</ul>


<p>I know that Octopress has <code>published: false</code> to support drafts, but I&rsquo;d rather have a <code>_drafts</code> directory. This keeps them isolated so it&rsquo;s easier to see what&rsquo;s a draft and prevents mistakes around the <code>published</code> flag.</p>

<p>When a draft is done, I can <code>mv it.markdown ../_posts/YYYY-MM-DD-it.markdown</code> to include it immediately.</p>

<p><strong>I would rather </strong> <code>mv it.markdown YYYY-MM-DD-it.markdown</code> <strong>and have it included when we reach that date.</strong></p>

<p>Spoiler alert again: Now I can =) At any point, I (or any automated worker process) can just</p>

<pre><code>rake post_drafts &amp;&amp; rake generate &amp;&amp; rake deploy
</code></pre>

<p><em>Yes, for now I called it post_drafts even though it doesn&rsquo;t include the generate or deploy. I&rsquo;m still undecided on what I want to do here, and my philosophy is don&rsquo;t go pushing things live unless you&rsquo;re sure that&rsquo;s what you wanted.</em></p>

<p>So the <code>post_drafts</code> task spins through <code>_drafts</code>, and any files matching YYYY-MM-DD-title.markdown <strong>where YYYY-MM-DD is today or earlier</strong> get moved to _posts. Files not matching the format, or where the date is still in the future, are left alone.</p>

<p>I also created an <a href="https://gist.github.com/druttka/9927030">Octopress rake post_drafts gist</a>. <strong>Do remember to define drafts_dir, as that&rsquo;s not something in the default Rakefile!</strong></p>

<h2>Am I doing it wrong?</h2>

<p>This was a fun excercise for me. It eased a couple of my pain points and gave me an excuse to hack on Ruby and Rake for a few minutes. Maybe I&rsquo;ll look into that automated worker to promote scheduled drafts without any human intervention, so things go live even if I&rsquo;m on vacation.</p>

<p>I&rsquo;ve already decided that <code>post_drafts</code> needs a better name, and I&rsquo;m considering that perhaps promotion of scheduled content into _posts should just be part of the <code>generate</code> task instead. That said, I&rsquo;m still getting into Octopress, and as much as I love Ruby, it&rsquo;s not where I have the most depth. Am I missing a better way? How do you handle drafts and scheduling in Octopress.</p>

<p><strong>Update:</strong> I created a <a href="https://gist.github.com/druttka/9927637"><code>new_draft</code></a> task that works much like the <code>new_page</code> task, but it puts the file in the configured <code>drafts_dir</code>. I have used it to quickly create empty stubs of things I want to cover soon, and pushed that to my private repo. This new platform and tool chain might just be what gets me blogging regularly again, but only time will tell.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="http://www.microsoftvirtualacademy.com/training-courses/using-git-with-visual-studio-2013-jump-start">Git for Windows, .NET, Visual Studio Developers</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-01T10:57:33-07:00" pubdate data-updated="true">Apr 1<span>st</span>, 2014</time>
        
        <a href="/blog/2014/04/01/git-for-visual-studio-developers/">Permalink</a>
      </p>
    
  </header>


  <div class="entry-content"><p>A while ago, I started putting together a series of posts on Git for Windows / Visual Studio Developers. I never finished it. Here&rsquo;s a free &ldquo;all-day&rdquo; jump start course that I&rsquo;ll <a href="http://www.microsoftvirtualacademy.com/training-courses/using-git-with-visual-studio-2013-jump-start">link</a> to instead.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="http://blogs.technet.com/b/heyscriptingguy/archive/2014/03/30/understanding-streams-redirection-and-write-host-in-powershell.aspx">A Great Explanation of PowerShell Streams and Write-Host</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-01T09:27:10-07:00" pubdate data-updated="true">Apr 1<span>st</span>, 2014</time>
        
        <a href="/blog/2014/04/01/a-great-explanation-of-powershell-streams-and-write-host/">Permalink</a>
      </p>
    
  </header>


  <div class="entry-content"><blockquote><p>I was reminded of this lesson when discussing the infamous Write-Host cmdlet with some colleagues. We all know that you&rsquo;re not supposed to use Write-Host. Windows PowerShell MVP, Don Jones, says that Write-Host kills puppies. Windows PowerShell inventor, Jeffrey Snover, says that Write-Host is harmful. But they both agree that it&rsquo;s fine to use it under very limited conditions.
<a href="http://blogs.technet.com/b/heyscriptingguy/archive/2014/03/30/understanding-streams-redirection-and-write-host-in-powershell.aspx">link</a></p></blockquote>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="http://colca7.com/blog/2014/01/27/octopress-sync-octopress-on-different-machines/">This Was Helpful. Octopress From All Your Machines!</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-01T09:25:43-07:00" pubdate data-updated="true">Apr 1<span>st</span>, 2014</time>
        
        <a href="/blog/2014/04/01/octopress-from-all-your-machines/">Permalink</a>
      </p>
    
  </header>


  <div class="entry-content"><p>For me, the takeaway was to be careful what order you do installs and pulls to avoid merge conflicts. <a href="http://colca7.com/blog/2014/01/27/octopress-sync-octopress-on-different-machines/">Nice write up</a>.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="/blog/2014/04/01/facebook/">Facebook?</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-01T09:18:16-07:00" pubdate data-updated="true">Apr 1<span>st</span>, 2014</time>
        
         | <a href="/blog/2014/04/01/facebook/#disqus_thread"
			 data-disqus-identifier="http://www.davidruttka.com/blog/2014/04/01/facebook/">Comments</a>
        
        
      </p>
    
  </header>


  <div class="entry-content"><p>I&rsquo;ve quit Facebook a few times. The last time was very successful until one day, I was working with <a href="https://twitter.com/JoeyRobichaud">Joey</a>, and Joey said&hellip;</p>

<blockquote><p>Hey, looks like {kid&rsquo;s name}&rsquo;s ballet class was pretty great!</p></blockquote>

<p>And I said</p>

<blockquote><p>Wat?</p></blockquote>

<h2>My Current Facebook Policy</h2>

<p>Only one friend, my wife, so I can enjoy posts and pics of her and my kid.</p>

<h2>The Dilemma</h2>

<p>I know Facebook is wrong. I know going back is a trap, but&hellip;</p>

<p>People at work are having happy fun joke time and I&rsquo;m missing it.</p>

<p>I&rsquo;m considering revocation of my policy, and jumping all the way back in.</p>

<p><strong>Someone talk me down from this ledge.</strong></p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      
      <h1 class="entry-title"><a href="/blog/2014/03/30/starting-multiple-projects-at-once-in-visual-studio/">Starting Multiple Projects at Once in Visual Studio</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-03-30T08:30:32-07:00" pubdate data-updated="true">Mar 30<span>th</span>, 2014</time>
        
         | <a href="/blog/2014/03/30/starting-multiple-projects-at-once-in-visual-studio/#disqus_thread"
			 data-disqus-identifier="http://www.davidruttka.com/blog/2014/03/30/starting-multiple-projects-at-once-in-visual-studio/">Comments</a>
        
        
      </p>
    
  </header>


  <div class="entry-content"><p>Another setting that is so seldom used that it is often forgotten is setting multiple startup projects in your solution. Thanks to <a href="https://twitter.com/mj1856">Matt</a> for reminding me of this one. He was demoing something from a solution which spun up both a Web API app to act as the server and a console app to act as the client.</p>

<p><img src="/images/multiple-startup-projects.png"></p>

<p><code>Solution Properties &gt; Common Properties &gt; Startup Projects &gt; Multiple startup projects</code>.</p>

<p>For each project in the solution, you can choose one of the following:</p>

<ul>
<li>Start</li>
<li>Start without debugging</li>
<li>None</li>
</ul>


<p>That&rsquo;s all there is to it. Like the <a href="http://thedevstop.wordpress.com/2014/03/28/how-to-run-your-asp-net-web-application-when-you-start-debugging-instead-of-launching-the-page-view-youre-editing/">Start action</a>, <strong>you just have to remember it exists!</strong> =)</p>
</div>
  
  


    </article>
  
  <div class="pagination">
    
      <a class="prev" href="/blog/page/2/">&larr; Older</a>
    
    <a href="/blog/archives">Blog Archives</a>
    
  </div>
</div>
<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/2014/04/09/principles-of-debugging-a-postmortem/">Principles of Debugging: A Postmortem</a>
      </li>
    
      <li class="post">
        <a href="/blog/2014/04/08/fixing-the-external-url-linklog-feature-in-octopress/">Fixing the External-url (Linklog) Feature in Octopress</a>
      </li>
    
      <li class="post">
        <a href="/blog/2014/04/06/updating-octopress-to-override-the-canonical-rel-link/">Updating Octopress to Override the Canonical Rel Link</a>
      </li>
    
      <li class="post">
        <a href="/blog/2014/04/04/exposing-additional-headers-in-cors-responses-using-the-enablecorsattribute/">Exposing Additional Headers in CORS Responses Using the EnableCorsAttribute</a>
      </li>
    
      <li class="post">
        <a href="/blog/2014/04/01/octopress-rake-tasks-for-scheduling-posts-and-pulling-source/">Octopress Rake Tasks for Scheduling Posts and Pulling Source</a>
      </li>
    
  </ul>
</section>





  
</aside>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Leaderboard -->
<ins class="adsbygoogle"
  style="display:inline-block;width:728px;height:90px"
  data-ad-client="ca-pub-3583325619262902"
  data-ad-slot="4757424877"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2014 - David Ruttka -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'davidruttka';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>



  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = '//platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
